.products-section {
    background-color: white;
}
  
.section-title {
    font-weight: 700;
    color: #003459;
    font-size: 1.5rem; 
}
  
.products-card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.2s ease;
}
  
.products-card:hover {
    transform: translateY(-5px);
}
  
.products-card img {
    height: 300px;
    object-fit: cover;
}

.card-body {
    height: 175px;
}

