.hero-section {
  background-image: url('../../assets/img/hero/dog-backround.png'); /* ou .png */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.hero-title {
  font-size: 3rem;
  font-weight: 800;
  color: #002147;
}

.hero-subtitle {
  font-size: 2rem;
  font-weight: 700;
  color: #002147;
}

.hero-text {
  color: #333;
  font-size: 1rem;
  max-width: 500px;
}

.btn-outline-dark-blue {
  border: 2px solid #002147;
  color: #002147;
  padding: 0.6rem 1.5rem;
  border-radius: 25px;
  background: none;
}

.hero-content-offset {
  margin-top: 100px;
  margin-left: 180px;
}

/* navbar */
.logo-text {
  font-size: 1.8rem;
}

.btn-dark-blue {
  background-color: #002147;
  color: white;
  padding: 0.6rem 1.5rem;
  border-radius: 25px;
  border: none;
}

.monito-svg,
.petsforthebest-svg {
  display: block;
  max-width: 100%;
}

.petsforthebest-svg {
  margin-top: 4px; 
}

.text-dark-blue {
  color: #002A48;
}

.btn-dark-blue {
  background-color: #002A48;
  color: white;
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
}
