.banner2 {
    background-image: url('../../assets/img/banner2/paw-dog.png');
    background-size: cover;
    background-position: left center;
  }

  .banner2-wrapper {
    background-color: white;
    padding: 7rem; /* opcional, só para espaçamento externo */
  }

  .text-box {
    max-width: 500px;
    text-align: right;
    color: black;
  }